<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../plantilla/cabeza') %>
</head>
<body>
<div class="container">
<div class="container-fluid">
    <%- include('../plantilla/titulo') %>
    <%- include('../plantilla/menu_usuario') %>
    <h1>Bienvenido</h1>  
    <p>Ahora puedes comentar los temas del foro </p>
  
    <%- include('../plantilla/pie') %>
</div>
</div>
</body>
</html>