<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('plantilla/cabeza') %>
</head>
<body>
<div class="container">
<div class="container-fluid">
    <%- include('plantilla/titulo') %>
    <%- include('plantilla/menu') %>
    
    <div class="row">
        <div class="col-md-4 text-center">
            <p id="invitacion">
                Quieres Aprender mas??
            </p> 
            <button type="button" class="btn btn-outline-primary">
                Button
            </button>
        </div>
        <div class="col-md-8">
            <img src="imgs/foro2.png" alt="Imagen">
        </div>
    </div>
    <div class="row" id="barratarjetas">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Card title
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Card title
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">
                    Card title
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
    </div>


    <%- include('plantilla/pie') %>
</div>
</div>
</body>
</html>