<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('plantilla/cabeza') %>
</head>
<body>
<div class="container">
<div class="container-fluid">
    <%- include('plantilla/titulo') %>
    <%- include('plantilla/menu') %>
    <div class="login-box">
        <img src="imgs/user.jpeg" class="avatar" alt="Avatar Image">
        <h1>Ingreso al sistema</h1>
        <form action="/login2" method="POST">
          <label for="username">Usuario</label>
          <input type="text" placeholder="Ingrese usuario" autofocus name="username">
          <label for="password">Contraseña</label>
          <input type="password" placeholder="Ingrese contraseña" name="password">
          <input type="submit" class="btn btn-info" value="Ingresar">
          <br>
          <a href="/registro">Si no es usuario aun, Registrese porfavor.</a>
        </form>
      </div>
    <%- include('plantilla/pie') %>
</div>
</div>
</body>
</html>